In [2]:
import numpy as np
import pandas as pd

In [9]:
application = pd.read_csv("../Data/application_data.csv", index_col=0)
description = pd.read_csv("../Data/columns_description.csv", encoding='ISO-8859-1', index_col=0)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_colwidth', None)

In [8]:
application.describe()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
count,307511.000000,307511.000000,307511.000000,3.075110e+05,3.075110e+05,307499.000000,3.072330e+05,307511.000000,307511.000000,307511.000000,...,307511.000000,307511.000000,307511.000000,307511.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000,265992.000000
mean,278180.518577,0.080729,0.417052,1.687979e+05,5.990260e+05,27108.573909,5.383962e+05,0.020868,-16036.995067,63815.045904,...,0.008130,0.000595,0.000507,0.000335,0.006402,0.007000,0.034362,0.267395,0.265474,1.899974
std,102790.175348,0.272419,0.722121,2.371231e+05,4.024908e+05,14493.737315,3.694465e+05,0.013831,4363.988632,141275.766519,...,0.089798,0.024387,0.022518,0.018299,0.083849,0.110757,0.204685,0.916002,0.794056,1.869295
min,100002.000000,0.000000,0.000000,2.565000e+04,4.500000e+04,1615.500000,4.050000e+04,0.000290,-25229.000000,-17912.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189145.500000,0.000000,0.000000,1.125000e+05,2.700000e+05,16524.000000,2.385000e+05,0.010006,-19682.000000,-2760.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,278202.000000,0.000000,0.000000,1.471500e+05,5.135310e+05,24903.000000,4.500000e+05,0.018850,-15750.000000,-1213.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,367142.500000,0.000000,1.000000,2.025000e+05,8.086500e+05,34596.000000,6.795000e+05,0.028663,-12413.000000,-289.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
max,456255.000000,1.000000,19.000000,1.170000e+08,4.050000e+06,258025.500000,4.050000e+06,0.072508,-7489.000000,365243.000000,...,1.000000,1.000000,1.000000,1.000000,4.000000,9.000000,8.000000,27.000000,261.000000,25.000000

In [14]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_type = df.dtypes
    mis_val_table = pd.concat([mis_val, mis_val_percent, mis_val_type], axis=1)
        
    mis_val_table_ren_columns = mis_val_table.rename(columns = {0 : 'Missing Values', 1 : '% of Total Values', 2: 'type'})
        
    mis_val_table_ren_columns = mis_val_table_ren_columns[ mis_val_table_ren_columns.iloc[:,1] != 0].sort_values('% of Total Values', ascending=False).round(1)
        
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n" "There are " + str(mis_val_table_ren_columns.shape[0]) + " columns that have missing values.")
        
    return mis_val_table_ren_columns

In [15]:
missing_values_table(application)

Your selected dataframe has 121 columns.
There are 67 columns that have missing values.

                              Missing Values  % of Total Values     type
COMMONAREA_MEDI                       214865               69.9  float64
COMMONAREA_AVG                        214865               69.9  float64
COMMONAREA_MODE                       214865               69.9  float64
NONLIVINGAPARTMENTS_MEDI              213514               69.4  float64
NONLIVINGAPARTMENTS_MODE              213514               69.4  float64
NONLIVINGAPARTMENTS_AVG               213514               69.4  float64
FONDKAPREMONT_MODE                    210295               68.4   object
LIVINGAPARTMENTS_MODE                 210199               68.4  float64
LIVINGAPARTMENTS_MEDI                 210199               68.4  float64
LIVINGAPARTMENTS_AVG                  210199               68.4  float64
FLOORSMIN_MODE                        208642               67.8  float64
FLOORSMIN_MEDI                        208642               67.8  float64
FLOORSMIN_AVG                         208642               67.8  float64
YEARS_BUILD_MODE                      204488               66.5  float64
YEARS_BUILD_MEDI                      204488               66.5  float64
YEARS_BUILD_AVG                       204488               66.5  float64
OWN_CAR_AGE                           202929               66.0  float64
LANDAREA_AVG                          182590               59.4  float64
LANDAREA_MEDI                         182590               59.4  float64
LANDAREA_MODE                         182590               59.4  float64
BASEMENTAREA_MEDI                     179943               58.5  float64
BASEMENTAREA_AVG                      179943               58.5  float64
BASEMENTAREA_MODE                     179943               58.5  float64
EXT_SOURCE_1                          173378               56.4  float64
NONLIVINGAREA_MEDI                    169682               55.2  float64
NONLIVINGAREA_MODE                    169682               55.2  float64
NONLIVINGAREA_AVG                     169682               55.2  float64
ELEVATORS_MEDI                        163891               53.3  float64
ELEVATORS_MODE                        163891               53.3  float64
ELEVATORS_AVG                         163891               53.3  float64
WALLSMATERIAL_MODE                    156341               50.8   object
APARTMENTS_MODE                       156061               50.7  float64
APARTMENTS_MEDI                       156061               50.7  float64
APARTMENTS_AVG                        156061               50.7  float64
ENTRANCES_MODE                        154828               50.3  float64
ENTRANCES_AVG                         154828               50.3  float64
ENTRANCES_MEDI                        154828               50.3  float64
LIVINGAREA_MEDI                       154350               50.2  float64
LIVINGAREA_MODE                       154350               50.2  float64
LIVINGAREA_AVG                        154350               50.2  float64
HOUSETYPE_MODE                        154297               50.2   object
FLOORSMAX_MEDI                        153020               49.8  float64
FLOORSMAX_AVG                         153020               49.8  float64
FLOORSMAX_MODE                        153020               49.8  float64
YEARS_BEGINEXPLUATATION_AVG           150007               48.8  float64
YEARS_BEGINEXPLUATATION_MEDI          150007               48.8  float64
YEARS_BEGINEXPLUATATION_MODE          150007               48.8  float64
TOTALAREA_MODE                        148431               48.3  float64
EMERGENCYSTATE_MODE                   145755               47.4   object
OCCUPATION_TYPE                        96391               31.3   object
EXT_SOURCE_3                           60965               19.8  float64
AMT_REQ_CREDIT_BUREAU_WEEK             41519               13.5  float64
AMT_REQ_CREDIT_BUREAU_DAY              41519               13.5  float64
AMT_REQ_CREDIT_BUREAU_MON              41519               13.5  float64
AMT_REQ_CREDIT_BUREAU_QRT              41519               13.5  float64
AMT_REQ_CREDIT_BUREAU_HOUR             41519               13.5  float64
AMT_REQ_CREDIT_BUREAU_YEAR             41519               13.5  float64
NAME_TYPE_SUITE                         1292                0.4   object
DEF_30_CNT_SOCIAL_CIRCLE                1021                0.3  float64
OBS_60_CNT_SOCIAL_CIRCLE                1021                0.3  float64
DEF_60_CNT_SOCIAL_CIRCLE                1021                0.3  float64
OBS_30_CNT_SOCIAL_CIRCLE                1021                0.3  float64
EXT_SOURCE_2                             660                0.2  float64
AMT_GOODS_PRICE                          278                0.1  float64
AMT_ANNUITY                               12                0.0  float64
CNT_FAM_MEMBERS                            2                0.0  float64
DAYS_LAST_PHONE_CHANGE                     1                0.0  float64

In [13]:
description[(description['Table'] == 'application_data')&(description['Row'] == 'AMT_REQ_CREDIT_BUREAU_DAY')]['Description']

120    Number of enquiries to Credit Bureau about the client one day before application (excluding one hour before application)
Name: Description, dtype: object

In [11]:
description.head()

,Table,Row,Description,Special
1,application_data,SK_ID_CURR,ID of loan in our sample,NaN
2,application_data,TARGET,"Target variable (1 - client with payment difficulties: he/she had late payment more than X days on at least one of the first Y installments of the loan in our sample, 0 - all other cases)",NaN
5,application_data,NAME_CONTRACT_TYPE,Identification if loan is cash or revolving,NaN
6,application_data,CODE_GENDER,Gender of the client,NaN
7,application_data,FLAG_OWN_CAR,Flag if the client owns a car,NaN